body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  z-index: 1;
  background-color: white;
  display: flex;
  height: 80px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
}

.logo {
  padding-left: 20px;
}

.header-ionicon {
  font-size: 40px;
  padding-right: 20px;
}

.content {
  margin-bottom: 80px;
  width: 100%;
  margin-top: 40px;
}

.chat {
  padding: 20px 0;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

strong {
  font-weight: 700;
}

.time {
  margin-left: 10px;
  color: #aaaaaa;
}

.send {
  z-index: 1;
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-box input {
  padding-left: 18px;
  font-size: 18px;
  font-style: italic;
  border: none;
}

.send-box ::placeholder {
  color: black;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}
button ion-icon {
  font-size: 26px;
  padding-right: 20px;
}

input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.status {
  background-color: #dcdcdc;
}

.message {
  background-color: #ffffff;
}

p {
  width: 100%;
}

span {
  width: 100%;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  gap: 20px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login input {
  text-align: center;
  font-size: 18px;
  border: none;
  width: 260px;
  height: 55px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.login ::placeholder {
  color: #aeaeae;
}

.logo-login {
  width: 130px;
  height: 92px;
  margin-top: 72px;
  margin-bottom: 92px;
}

.submit-username {
  font-size: 18px;
  color: #696969;
  width: 110px;
  height: 45px;
}
